@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elegant College</h1>
    <p class="lead">
        THE ELEGANT COLLEGE offers a wide selection of courses across multiple subject areas and locations.<br />

        With technology developing at such an incredible pace, and the need for digital skills becoming ever more important, the IT sector really is an exciting, vibrant and rewarding industry to work in.

        Our computing and IT courses will give you the skills, knowledge and training required to enter the workplace as an IT professional or to progress into a computing-related higher education course. In the world of IT, the possibilities are truly endless.<br />

        Use our course explorer to filter our offering by your favourite subject, preferred study mode or campus.
        What the students say...<br />

        "I chose to study the Foundation Degree in Computing at Aylesbury College as the course content was ideal for me in terms of developing the knowledge I needed to be more effective at work. "

        Steph Smith - Foundation degree in Computing
    </p>
    <p><a href="../Console/Index" class="btn btn-primary btn-lg">More about us! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Computing and IT</h2>
        <p>
            Are you interested in working in Computer Programming, Software Engineering, Web Design or something similar? Then look no further than Elegant College Group for courses to get you started.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Why Computing and IT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Computing and IT
            Courses
        </h2>
        <p>
            Computing and IT Courses are at the cutting edge of new career opportunities, and Elegant College  provides a range of courses at different levels to develop your technical skills and abilities, giving you an advantage in a fast growing industry. So whether its learning about how to improve productivity using IT, or learning how to format cells and worksheets in Excel, the skills you will pick up in our courses will help give you the practical experience to help achieve success in the Computer and IT Industry. Here at Buckinghamshire College Group we offer a Foundation Degree in IT, as well as numerous IT based Diplomas. We also offer Apprenticeships in IT User Skills, which allow you to gain a foundation in advanced practical skills whilst earning a wage and a recognised qualification.

            If you are thinking about doing a Computing and IT Course , please click below to find out details of the courses hosted at Elegant  College.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Explore your interest &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Below are our Courses--></h2>
        <p>Computer Science<href>
      <p><a href="../Views/Home/ComputerScience" class="btn btn-primary btn-lg">Computer Scienece&raquo;</a></p>
        Software Engineering<href>
    <p><a href="../Views/Home/SoftwareEngineering" class="btn btn-primary btn-lg">Software Engineering&raquo;</a></p>
</href><br />
        Cyber Security<href>
    <p><a href="../Views/Home/CyberSecurity" class="btn btn-primary btn-lg">Cyber Security&raquo;</a></p>
</href></p>
        <p><a class="btn btn-default" href="../Home/CyberSecuurity">Why our courses?&raquo;</a></p>
    </div>
</div>